<input type="text" [formControl]="searchControl">
<button (click)="resetData()">Reset</button>
<hr>
<div class="container">
  <div class="menu-bar">
    <div
      class="menu"
      [ngClass]="{'active': selectedMenuId === menu?.id}"
      *ngFor="let menu of menus"
      (click)="getItemDetails(menu?.id)"
    >
      {{ menu?.name }}
    </div>
  </div>
  <div class="items-container">
    <div class="item" *ngFor="let itemCategory of categoryKeys">
      <h5 class="item-title">{{ itemCategory }}</h5>
      <div class="item-name" *ngFor="let itemDetail of categoryItems[itemCategory]">
        {{ itemDetail?.name }}
      </div>
      <hr>
    </div>
    <div class="item" *ngIf="!categoryKeys.length">
      Kosong
    </div>
  </div>
</div>